*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.iws
*.ipr
build/*
gradle/*
!build/build.xml
*.lst
*.iml
*/target/
.idea/
.gradle/
gradlew
gradlew.bat
settings.gradle

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
